APP_NAME="EVENT SCHEDULER"
APP_ENV=local
APP_KEY=base64:yiHGOaTKmnAtwme/+o5zkZZvFtYziGTyKiiCNQ+XdDA=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=root

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_URL=redis
REDIS_HOST=redis
REDIS_PASSWORD=secret_redis
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=d87304ab963a3a
MAIL_PASSWORD=caf2601bdd1b8f
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="noreply@eventscheduler.com"
MAIL_FROM_NAME="${APP_NAME}"
